[req]
prompt              = no
distinguished_name  = ca_dn

[ca_dn]
commonName          = DEWRP123456789A
organizationName    = WARP
countryName         = DE
domainComponent     = MO

[ext]
basicConstraints    = critical,CA:false
keyUsage            = critical,digitalSignature,nonRepudiation,keyEncipherment,keyAgreement
subjectKeyIdentifier = hash
