[req]
prompt              = no
distinguished_name  = ca_dn

[ca_dn]
commonName          = CPSLeaf
organizationName    = WARP
countryName         = DE
domainComponent     = CPS

[ext]
basicConstraints    = critical,CA:false
keyUsage            = critical,digitalSignature
subjectKeyIdentifier = hash
