[req]
prompt              = no
distinguished_name  = ca_dn

[ca_dn]
commonName          = MOSubCA2
organizationName    = WARP
countryName         = DE
domainComponent     = MO

[ext]
basicConstraints    = critical,CA:true,pathlen:0
keyUsage            = critical,digitalSignature,keyCertSign,cRLSign
subjectKeyIdentifier = hash
