import { MeterConfigPlugin } from "./types";

{{{imports}}}

export function plugins_pre_init() {
    let result: Array<{[meter_class: number]: MeterConfigPlugin}> = [];

    {{{pre_inits}}}

    return result;
}

export function plugins_init() {
    {{{inits}}}
}
