.meters-status-power-sums-icon svg {
    width: 40px;
    height: 40px;
    stroke-width: 1.5px;
}

.meters-status-power-sums-text-main {
    font-size: 1.3rem;
}

.meters-status-power-sums-text-sub {
    font-size: 0.7rem;
    padding-left: 1px;
}
