{
    "meters": {
        "status": {
            "power_history": null,
            "current_power": "Leistungsaufnahme"
        },
        "navbar": {
            "meters": "Stromzähler"
        },
        "content": {
            "meters": "Stromzähler",
            "history": "Verlauf (48 h)",
            "live": "Live",
            "detailed_values": "Details",

            {{{detailed_values}}}
        },
        "script": {
            "time": "Uhrzeit",
            "power": "Leistung",
            "save_failed": "Speichern der Stromzähler-Einstellungen fehlgeschlagen.",
            "reboot_content_changed": "Stromzähler-Einstellungen"
        }
    }
}
