*.swp
*.pyc
__pycache__
provisioning/staging_password.txt
provisioning/staging-password.txt
provisioning/printer_host_bag.txt
provisioning/esptool
provisioning/cp210x-cfg
.vscode/
software/src/modules/valovo*
software/src/modules/modbus_reader/tinkerforge
software/valovo_*
software/changelog_valovo_*
software/web/src/modules/valovo_*
software/*_valovo_*
cov-analysis-linux64-*
software/build_*.sh
software/signature/keys-*
