import { CronTriggerComponents, CronActionComponents } from "./types";

{{{imports}}}

export function plugins_init() {
    let result = new Array<{trigger_components?: CronTriggerComponents, action_components?: CronActionComponents}>();

    {{{inits}}}

    return result;
}
