{{{imports}}}

export interface Modules {
    {{{module_interface}}}
}

export type Features = string[];

export interface ConfigMap {
    {{{config_map_entries}}}
    'modules': Modules
    'features': Features
};

export let api_cache: {[key in keyof ConfigMap]: ConfigMap[key]} = {
    {{{api_cache_entries}}}
    'modules': null,
    'features': null
};
