<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="{{{theme_color}}}"/>
    <title></title>

    <link rel="manifest" href="manifest.json"/>
    <link href="css/main.css" rel="stylesheet">
    <link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,{{{favicon}}}">
</head>

<body>
    <div id="app" />
    <script src="js/bundle.js"></script>
</body>

</html>
