---
Language:                                  Cpp
BasedOnStyle:                              LLVM
AccessModifierOffset:                      -4
AlignOperands:                             AlignAfterOperator
AllowAllArgumentsOnNextLine:               false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine:          None
AllowShortLambdasOnASingleLine:            Empty
BinPackArguments:                          false
BinPackParameters:                         false
BreakBeforeBinaryOperators:                NonAssignment
BreakBeforeBraces:                         Linux
BreakBeforeTernaryOperators:               false
BreakConstructorInitializers:              AfterColon
ColumnLimit:                               140
DeriveLineEnding:                          false
IndentCaseLabels:                          true
IndentWidth:                               4
LambdaBodyIndentation:                     Signature
ReflowComments:                            false
UseCRLF:                                   false
UseTab:                                    Never
...
