.pio
.vscode
default_wifi.json
build/
data/spiffs.json
data/wifi_sta_config.json
data/wifi_soft_ap_config.json
packages/*-dev
src/**/*.digest
src/**/*.embedded.h
src/**/*.embedded.cpp
src/main.cpp
src/modules.h
src/build.h
src/build.cpp
web/**/*.digest
web/node_modules/
web/build/
web/src/main.ts
web/src/main.scss
web/src/index.html
web/src/ts/api_defs.ts
web/src/ts/translation.tsx
web/src/ts/translation.json
