.pio
.vscode
build/
data/spiffs.json
data/wifi_sta_config.json
data/wifi_soft_ap_config.json
modules/backend/**/*_firmware.h
modules/backend/**/*_firmware.cpp
modules/backend/firmware_update/recovery_page.h
modules/backend/firmware_update/recovery_page.cpp
src/index.html.h
src/index.html.h.digest
src/main.cpp
src/modules.h
src/modules
src/build.h
src/firmware_basename
web/node_modules/
web/assets/
web/dist/
web/src/main.ts
web/src/main.scss
web/src/index.html
web/src/img/modules/
web/src/scss/modules/
web/src/ts/modules/
web/src/ts/translation_*.ts
