.pio
.vscode
default_wifi.json*
build/
build_latest/
data/spiffs.json
data/wifi_sta_config.json
data/wifi_soft_ap_config.json
packages/*-dev
src/**/*.digest
src/**/*.embedded.h
src/**/*.embedded.cpp
src/modules/*/module_available.h
src/modules/*/module_available_end.h
src/modules/*/module_dependencies.h
src/modules/*/module.cpp
src/modules/*/*.enum.h
src/modules/*/*.enum.cpp
src/modules.cpp
src/build.h
src/build.cpp
src/main_available.h
src/main_available_end.h
src/main_dependencies.h
src/modules/pwa/manifest.json
src/modules/meters/meter_value_id.py
web/**/*.digest
web/node_modules/
web/build/
web/src/app.tsx
web/src/build.ts
web/src/main.tsx
web/src/main.scss
web/src/index.html
web/src/ts/api_defs.ts
web/src/ts/branding.ts
web/src/ts/translation.tsx
web/src/ts/translation.json
web/src/modules/*/*.enum.ts
web/src/modules/*/module_available.inc
web/src_tfpp/
web/**/*.embedded.ts
coredump_py_gdb_cmds
api_info.json
signature/config.ini
signature/keys/
