{{{imports}}}

export interface config {
    tasks: Task[]
}

export interface state {
    registered_triggers: number[]
    registered_actions: number[]
    enabled_triggers: number[]
    enabled_actions: number[]
}

interface Task {
    trigger: AutomationTrigger,
    action: AutomationAction
}

type AutomationTrigger =
    [0, null]{{{triggers}}};

type AutomationAction =
    [0, null]{{{actions}}};
