import { BatteryConfigPlugin } from "./types";

{{{imports}}}

export function plugins_pre_init() {
    let result: Array<{[battery_class: number]: BatteryConfigPlugin}> = [];

    {{{pre_inits}}}

    return result;
}

export function plugins_init() {
    {{{inits}}}
}
