SUBSYSTEM=="tty", ATTRS{serial}=="686b88f52dd3ec11a78f5483a1ca919a", SYMLINK+="ttyUSBESPTESTER1"

SUBSYSTEM=="tty", ATTRS{serial}=="502a8442d5d2ec119edc5483a1ca919a", SYMLINK+="ttyUSBESPTESTER2"

SUBSYSTEM=="tty", ATTRS{serial}=="d428dc57d6d2ec118be45383a1ca919a", SYMLINK+="ttyUSBESPTESTER3"
