SUBSYSTEM=="tty", ATTRS{serial}=="540e61cdbcd2ec11976c34d9e581c637", SYMLINK+="ttyUSBESPTESTER1"

SUBSYSTEM=="tty", ATTRS{serial}=="e60c73091fd3ec11a3615883a1ca919a", SYMLINK+="ttyUSBESPTESTER2"

SUBSYSTEM=="tty", ATTRS{serial}=="e4fa924ec4d2ec11a88732d9e581c637", SYMLINK+="ttyUSBESPTESTER3"
