SUBSYSTEM=="tty", ATTRS{serial}=="2ab3f53cf4aeeb11837e142518997a59", SYMLINK+="ttyUSBESPTESTER1"

SUBSYSTEM=="tty", ATTRS{serial}=="f0abcb5212afeb119ab0102518997a59", SYMLINK+="ttyUSBESPTESTER2"

SUBSYSTEM=="tty", ATTRS{serial}=="1460a5df5fafeb119456102518997a59", SYMLINK+="ttyUSBESPTESTER3"
